.navbar{
	margin-bottom: 5px !important;
}

.nav-tabs{
	.tab-title{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 200px;
	}
}
	
.visualization {
	width: 100vw;
	min-width: 100vw;
// 	min-height: 10vh;
	max-height: 100vh;
	margin: auto;
}

.minimap {			
	width: 20vw;
	border: 2px solid;
	background-color: #ffffff;
	box-shadow: 1px 1px 1px;
}

.visualization-wrapper {
	/* border: 1px solid black; */
	cursor: pointer;
	
	.legend{
		max-height: 60px;
	}
}

.zoom-cursor {
	cursor: zoom-in;
}

.documents-table {
	.table {		
		width: 100%;
		table-layout:fixed;	
		
		svg {
			width: 2vw;
			height: 2vw;
		}
	
		tr {
			td{
				height: 10vh;
				line-height: 1.5;
				min-height: 10vh;
			}
		}
	
		thead,
		tbody,
		tr,
		td,
		th {
			display: block;
		}
	
		tr:after{
			content: ' ';
			display: block;
			visibility: hidden;
			clear: both;
		}
	
		thead {
			th {
				height: 30px;
				width: 16.6%;
				float: left;
				
				&.doc-index{
					width: 0%;
					visibility: hidden;
					display: none;
				}
			
				&.doc-title{
					width: 37%;
				}
			
				&.doc-authors{
					width: 36%;
				}
			
				&.doc-relevance{
					width: 15%;
				}
				
				&.doc-year,
				&.doc-cluster{
					width: 6%;
				}
			}
		}
	
		tbody{
			height: 30vh;
			overflow-y: auto;
			
			td{
				width: 16.6%;
				float: left;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				
				&.doc-index{
					width: 0%;
					visibility: hidden;
					display: none;
				}
			
				&.doc-title{
					width: 37%;
				}
			
				&.doc-authors{
					width: 36%;
				}
			
				&.doc-relevance{
					width: 15%;
				}
			
				&.doc-year,
				&.doc-cluster{
					width: 6%;
					text-align: center;
				}
			
				&.doc-cluster{
					padding: 0;
				}	
			}
		}
	}
}

.total-documents-info{
	padding-left: 10px;
	font-size: 1.2em;
	font-weight: 800;
}

div.node-tooltip,
div.fixed-tooltip {
	position: absolute;
	text-align: center;
	width: 350px;
	height: auto;
	padding: 2px;
	font: 12px sans-serif;
	background: #1a1a1a;
	border: 0px;
	border-radius: 8px;
	
	p {
		text-transform: capitalize;
	}

	a {
		color: #ffffff;
		padding: 1px;
	}
}

circle {
	stroke: #ea1717e6;
	stroke-width: 4px;
	stroke-opacity: 0;
}

.link {
	fill: none;
	stroke: #666;
	/* stroke-width: 1.5px; */
	visibility: hidden;
}

.active {
	visibility: visible !important;
}

.operator-input{
	padding: 0 5px 0 5px;
}

#searchForm {
	padding: 0;
	.simple-search {
		
		padding-bottom: 10px;
		color: #fff;
		
		&.form-inline {
			.form-control {
				width: 100%;
			}
		}
	
		.search-buttons{
// 			text-align: right;
//			width: 18%;
			padding: 0;
		}
	}

	.year-search {
		
		padding: 0;
		div {
			padding: 0;
		}
		
		&.form-group {
			.auto-width {
				width: auto;
			}
		
			span {
				text-align: center;
				padding: 5px 0 0 0;
			}		
		}
	
		label{
			padding: 5px 0 0 10px;
		} 
	}

	.col-small {
		width : 6%;
	}

	.advanced-search,	
	.viz-settings {
		padding-top: 15px;
		.form-group {
			.auto-width {
				width: auto;
			}
		
			span {
				text-align: center;
			}
		}
	
		label {
			color: #fff;
		}
	}
}

.slider-selection {
	background: #BABABA;
}

.slider-horizontal {
	width: 100% !important;
}

.slider-range{
	width: 300px;
	margin: 0 0 0 30px;
}

.slider-range .slider-selection{
	background: none;
}

.result {
	padding: 10px;
}

.loading{
	border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: auto;
	margin-right: auto;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
 }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.selection {
  fill: #93D7ED;
  stroke: #93D7ED;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
  width: 200px;
  height: 75px;
}

.axis{ 
	font-size: 10px;
	path,
	tick,
	line {
		fill: none;
		stroke: none;
	}
}

.btn-download {
    color: #fff;
    background-color: #8d7ec8;
    border-color: #8d7ec8;
	
	&:hover {
    	color: #fff;
    	background-color: #7565b7;
    	border-color: #7565b7;
	}

	&:active {
		color: #fff;
		background-color: #7565b7;
		border-color: #7565b7;
	}
}

.alert {
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.viz-controls-footer {
	width: 100%;
	text-align: right;
}