@* head Template File *@
@()


 @* Here's where we render the page title `String`. *@
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap-slider/css/bootstrap-slider.css")">

<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

<script src="@routes.Assets.versioned("lib/jquery/jquery.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")" type="text/javascript" ></script>
<script src="@routes.Assets.versioned("lib/bootstrap-slider/bootstrap-slider.js")" type="text/javascript" ></script>

<script src="@routes.Assets.versioned("javascripts/d3.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/d3-scale-chromatic.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/d3-contour.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("lib/d3-cloud/build/d3.layout.cloud.js")" type="text/javascript"></script>
<script src="@routes.Assets.versioned("lib/canvg/dist/canvg.bundle.min.js")" type="text/javascript"></script>

<script type="text/javascript" src="@routes.HomeController.javascriptRoutes"></script>
