@import views.formdata.QueryData

@(queryData:  Form[QueryData])

@import helper._
 
<!DOCTYPE html>
<html lang="en">
    <head>
       <title>Welcome</title>
       
       	@head()
       	
       	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
       	
       	<script src="@routes.HomeController.jsMessages()" type="text/javascript" ></script>
       	<script src="@routes.Assets.versioned("javascripts/tabData.js")" type="text/javascript"></script>
       	<script src="@routes.Assets.versioned("javascripts/tab.js")" type="text/javascript"></script>
       	<script src="@routes.Assets.versioned("javascripts/aux.js")" type="text/javascript"></script>       	
       	<script src="@routes.Assets.versioned("javascripts/word-cloud.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("javascripts/visualization.js")" type="text/javascript"></script>
		<script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
		

    </head>
    <body>	
    
    @navbar()
    
    <div id="loading" class="loading hidden"></div>
    <div id="tabs-alert-wrapper" class="tabs-alert container"></div>
    
    <div id="title-text" class="container">
    	<h1 style="text-align: center">Web-MIST - Multiscale Information and Summaries of Texts</h1>
    	<h2 style="text-align:center;">Projeto desenvolvido durante o curso de Mestrado em Ciências da Computação</h2>
	<h2 style="text-align:center;"><b>Autor: Eder Petrica</b></h2> 
	<h4 style="text-align:center;">Orientador: Paulo Aristarco Pagliosa</h4>
	<h4 style="text-align:center;">FACOM - Faculdade de Computação</h4>
	<h4 style="text-align:center;">Universidade Federal do Mato Grosso do Sul</h4>
    	
    </div>
    
    <div class="nav-tabs-wrapper">
    	<ul class="nav nav-tabs hidden" role="tablist" id="viz-tabs">    		
    	</ul>
    </div>
    <div class="tab-content" id="map">
	</div>
	<div class="modal fade" tabindex="-1" role="dialog"> 
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">@Messages("modal.no.documents.found.title")</h4>
				</div>
				<div class="modal-body">
					<p>@Messages("modal.no.documents.found.body")</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">@Messages("modal.no.documents.found.close")</button>
				</div>
			</div>
		</div>
	</div>
    </body>
</html>
