@(active : String = "home")
    
<nav class="navbar navbar-default navbar-inverse">
	<div class="container-fluid">
 		<div class="navbar-header">
   			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
   				data-target="#navbar-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
   			</button>
 		</div>
  		<div class="collapse navbar-collapse" id="navbar-collapse">
    		<ul class="nav navbar-nav">
    		@menu_item(active, "home")<a href="@routes.HomeController.index">Home</a></li>
      		@* @menu_item(active, "graph", "dropdown")
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
        				aria-haspopup="true" aria-expanded="false">Grafo<span class="caret"></span></a>
        			<ul class="dropdown-menu">
          			<li><a href="@routes.GraphController.graph("docs")">Documentos</a></li>
          			<li><a href="@routes.GraphController.graph("authors")">Autores</a></li>
        			</ul>
      		</li> *@
    		</ul>
    		
    		@if( active == "home"){
    			<form id="searchForm" class="navbar-form row" >
    			<div class="row form-inline simple-search col-sm-10 row">
	    			<div class="col-sm-4">
	    				<input type="text" id="terms" name="terms" class="form-control">
	    			</div>
	    			<div class="col-sm-1 operator-input">
		    			<select id="operator" name="operator" class="form-control">
		                	<option value="or">OR</option>
		                	<option value="and">AND</option>
		        		</select>
	        		 </div>
	        		 <div class="col-sm-3 search-buttons">
		        			<button type="submit" id="search" class="btn btn-primary">Search</button>
		        			<button id="advanced-search-btn" type="button" class="btn btn-default" aria-label="Left Align">
		  						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</button>
							<button id="viz-settings-btn" type="button" class="btn btn-default" aria-label="Left Align">
		  						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							</button>
					</div>
					
					<div class="viz-options nav nav-bar col-sm-4">
		    			<button type="button" id="reset-btn" class="btn btn-danger glyphicon glyphicon-erase"
		    			data-toggle="tooltip" data-placement="bottom" title="Reinicia visulização (esconde areas e seleções)."></button>
		    			<button type="button" id="step-btn" class="btn btn-success glyphicon glyphicon-play"
		    			data-toggle="tooltip" data-placement="bottom" title="Avançar (avança para próxima passo da visualização)"></button>
		    			<button type="button" id="reheat-btn" class="btn btn-warning glyphicon glyphicon-fire"
		    			data-toggle="tooltip" data-placement="bottom" title="Reaquece forças da visualização"></button>
		    			<button type="button" id="zoom-btn" class="btn btn-primary glyphicon glyphicon-zoom-in" data-toggle="button" 
	    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="Zoom através da QuadTree"></button>
	    				<button type="button" id="show-list-btn" class="btn btn-info glyphicon glyphicon-list-alt" data-toggle="button"
	    					data-tooltip="tooltip" data-placement="bottom" aria-pressed="false" title="Exibir lista de documentos"></button>
	    				<button type="button" id="download-btn" class="btn btn-download glyphicon glyphicon-download-alt" data-toggle="button" 
	    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="Baixar documentos selecionados"></button> 
	    				<button type="button" id="show-circles-btn" class="btn btn-default glyphicon glyphicon-eye-close" data-toggle="tooltip" 
	    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="Esconde/Exibe círculos"></button>
    			</div>
    			
				</div>
				
				<div class="viz-settings form-horizontal row">
					<div class="row">
						<div class="form-group col-sm-3">
							<label for="collision-force" class="col-sm-6">Collision force:</label>
							<div class="col-sm-6">
								<input id="collision-force" data-slider-id='collision-force-slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.5"/>							
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="manybody-force" class="col-sm-6">Attraction force:</label>
							<div class="col-sm-6">
								<input id="manybody-force" data-slider-id='manybody-force-slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="5" data-slider-value="0"/>							
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="max-number-of-docs" class="col-sm-6">
							Max. number of docs:
							</label>
							<select class="col-sm-6" id="max-number-of-docs">
							<option value="100">100</option>
							<option value="200">200</option>
							<option value="300">300</option>
							<option value="400">400</option>
							<option value="500">500</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-3">
							<label for="clustering-force" class="col-sm-6">Clustering force:</label>
							<div class="col-sm-6">
								<label>
	      							<input type="checkbox" id="clustering-force" value="1"> On/Off
	    						</label>							
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="show-density-points" class="col-sm-5">Show density points:</label>
							<div class="col-sm-7">
								<label>
	      							<input type="checkbox" id="show-density-points" value="1"> On/Off
	    						</label>							
							</div>
						</div>	
						<div class="form-group col-sm-4">
							<label for="color-schema" class="col-sm-5">Coloring by relevance:</label>
							<div class="col-sm-7">
								<label>
	      							<input type="checkbox" id="color-schema" value="1" checked> On/Off
	    						</label>							
							</div>
						</div>
					</div>					
				</div>
				<div class="advanced-search form-horizontal row">
					<div class="form-group col-sm-3">
						<label for="author" class="col-sm-3">Authors:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="author">
						</div>
					</div>
					<div class="form-group col-sm-4">
						<label for="year-start" class="col-sm-5">Publication year between:</label>
						<div class="col-sm-7">
						<input type="text" class="form-control auto-width col-sm-4" id="year-start" size="4" maxlength="4" pattern="[0-9]*">
						<span class="col-sm-1"> - </span>  
						<input type="text" class="form-control auto-width col-sm-4" id="year-end" size="4" maxlength="4" pattern="[0-9]*">
						</div>
					</div>
					<div class="form-group col-sm-3">
						<label for="num-clusters" class="col-sm-5">Number of clusters:</label>
						<div class="col-sm-7">
							<input type="number" id="num-clusters" class="form-control auto-width" value="10">
						</div>
					</div>
				</div>
    		</form>
    		}
    		
  		</div>
	</div>
</nav>

@menu_item(selected : String, tab : String, css : String = "") = {
	@if( selected == tab){
		<li class="@css active">
	} else{
		<li class="@css">
	}
}