@(active : String = "home")
    
@import helper._

<nav class="navbar navbar-default navbar-inverse">
	<div class="container-fluid">
 		<div class="navbar-header">
   			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
   				data-target="#navbar-collapse" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
   			</button>
 		</div>
  		<div class="collapse navbar-collapse" id="navbar-collapse">
    		<ul class="nav navbar-nav">
    			@* @menu_item(active, "home")<a href="@routes.HomeController.index">Home</a></li> *@
      		@* @menu_item(active, "graph", "dropdown")
        			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
        				aria-haspopup="true" aria-expanded="false">Grafo<span class="caret"></span></a>
        			<ul class="dropdown-menu">
          			<li><a href="@routes.GraphController.graph("docs")">Documentos</a></li>
          			<li><a href="@routes.GraphController.graph("authors")">Autores</a></li>
        			</ul>
      		</li> *@
    		</ul>
    		
    		@if( active == "home"){
    			<form id="searchForm" class="navbar-form row" >
    			@CSRF.formField 
    			<div class="row form-inline simple-search col-sm-11 row">
	    			<div class="col-sm-4">
	    				<input type="text" id="terms" name="terms" class="form-control">
	    			</div>	    			
	        		 <div class="form-group col-sm-3 year-search">
						<label for="year-start" class="col-sm-3">@Messages("navbar.year.label")</label>
						<div class="col-sm-9">
							<input type="text" class="form-control auto-width col-sm-4" id="year-start" size="4" maxlength="4" pattern="[0-9]*" placeholder="@Messages("navbar.year.start")">
							<span class="col-sm-1 col-small">-</span>  
							<input type="text" class="form-control auto-width col-sm-4" id="year-end" size="4" maxlength="4" pattern="[0-9]*" placeholder="@Messages("navbar.year.end")">
						</div>
				</div>
	        		 <div class="col-sm-4 search-buttons">
		        			<button type="submit" id="search" class="btn btn-primary">@Messages("navbar.search.btn.label")</button>
		        			<button id="advanced-search-btn" type="button" class="btn btn-default" aria-label="Left Align">
		  						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
							</button>
						<button id="viz-settings-btn" type="button" class="btn btn-default" aria-label="Left Align">
		  						<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</button>
						<button type="button" id="reset-btn" class="btn btn-danger glyphicon glyphicon-erase"
		    					data-toggle="tooltip" data-placement="bottom" title="@Messages("navbar.reset.btn.title")"></button>		    			
		    				<button type="button" id="zoom-btn" class="btn btn-primary glyphicon glyphicon-zoom-in" data-toggle="button" 
		    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="@Messages("navbar.zoom.btn.title")"></button>
	    					<button type="button" id="show-list-btn" class="btn btn-info glyphicon glyphicon-list-alt" data-toggle="button"
		    					data-tooltip="tooltip" data-placement="bottom" aria-pressed="false" title="@Messages("navbar.show.btn.title")"></button>
	    					<button type="button" id="download-btn" class="btn btn-download glyphicon glyphicon-download-alt" data-toggle="button" 
		    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="@Messages("navbar.download.btn.title")"></button> 
	    					<button type="button" id="show-circles-btn" class="btn btn-default glyphicon glyphicon-eye-close" data-toggle="tooltip"	    					
		    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="@Messages("navbar.circles.btn.title")"></button>
		    				<button type="button" id="show-word-cloud-btn" class="btn btn-default glyphicon glyphicon-cloud" data-toggle="button" 
		    					data-tooltip="tooltip" aria-pressed="false" data-placement="bottom" title="@Messages("navbar.cloud.btn.title")"></button>
					</div>									
				</div>
				
				<div class="viz-settings form-inline row col-sm-11">
					<div class="row">
						<div class="form-group col-sm-3">
							<label for="collision-force" class="col-sm-6">@Messages("navbar.settings.force.collision.label")</label>
							<div class="col-sm-6">
								<input id="collision-force" data-slider-id='collision-force-slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.5"/>							
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="manybody-force" class="col-sm-6">@Messages("navbar.settings.force.attraction.label")</label>
							<div class="col-sm-6">
								<input id="manybody-force" data-slider-id='manybody-force-slider' type="text" data-slider-min="0" data-slider-max="50" data-slider-step="5" data-slider-value="0"/>							
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="max-number-of-docs" class="col-sm-6">
							@Messages("navbar.settings.max.docs.label")
							</label>
							<select class="col-sm-6 form-control" id="max-number-of-docs">
							<option value="100">100</option>
							<option value="200">200</option>
							<option value="300">300</option>
							<option value="400">400</option>
							<option value="500">500</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-3">
							<label for="clustering-force" class="col-sm-6">@Messages("navbar.settings.force.clustering.label")</label>
							<div class="col-sm-6">
								<label>
	      							<input type="checkbox" id="clustering-force" value="1">@Messages("navbar.settings.onoff")
	    						</label>							
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="show-density-points" class="col-sm-5">@Messages("navbar.settings.show.density.points.label")</label>
							<div class="col-sm-7">
								<label>
	      							<input type="checkbox" id="show-density-points" value="1">@Messages("navbar.settings.onoff")
	    						</label>							
							</div>
						</div>	
						<div class="form-group col-sm-3">
							<label for="color-schema" class="col-sm-5">@Messages("navbar.settings.color.schema")</label>
							<div class="col-sm-7">
								<label>
	      							<input type="checkbox" id="color-schema" value="1" checked>@Messages("navbar.settings.onoff")
	    						</label>							
							</div>
						</div>
						<div class="col-sm-3">
							<button type="button" id="step-btn" class="btn btn-success glyphicon glyphicon-step-forward"
			    					data-toggle="tooltip" data-placement="bottom" title="@Messages("navbar.settings.simulation.step.title")"></button>
			    				<button type="button" id="reheat-btn" class="btn btn-warning glyphicon glyphicon-fire"
			    					data-toggle="tooltip" data-placement="bottom" title="@Messages("navbar.settings.simulation.reheat.title")"></button>
			    			</div>
					</div>					
				</div>
				<div class="advanced-search form-inline col-sm-11 row">
					<div class="col-sm-3 form-group">
						<label class="col-sm-3" for="operator">@Messages("navbar.advanced.operator.label")</label>
						<div class="col-sm-9">
			    				<select id="operator" name="operator" class="form-control">
			                		<option value="or">@Messages("navbar.advanced.operator.or")</option>
			                		<option value="and">@Messages("navbar.advanced.operator.and")</option>
			        			</select>
		        			</div>
	        		 	</div>
					<div class="form-group col-sm-6">
						<label for="author" class="col-sm-2">@Messages("navbar.advanced.authors.label")</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="author">
						</div>
					</div>					
					<!--  <div class="form-group col-sm-3">
						<label for="num-clusters" class="col-sm-5">@Messages("navbar.advanced.num_clusters.label")</label>
						<div class="col-sm-7">
							<input type="number" id="num-clusters" class="form-control auto-width" value="10">
						</div>
					</div>
					-->
				</div>
    		</form>
    		}
    		
  		</div>
	</div>
</nav>

@menu_item(selected : String, tab : String, css : String = "") = {
	@if( selected == tab){
		<li class="@css active">
	} else{
		<li class="@css">
	}
}